{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.get_full_name }}{% endblock %}
{% block header %}Профиль пользователя {{ author.get_full_name }} {% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
                {% include "include/user_info.html" %}
        <div class="col-md-9">                

                {% for post in page %} 
                    {% include "include/post_item.html" %}
                {% endfor %}
                {% if page.has_other_pages %}
                    {% include "include/paginator.html" %}
                {% endif %}
     </div>
    </div>
</main>

{% endblock %}